[class*="col-"]{
  border: 1px solid black;
  height: 100px;
}


#deploy{
  background-color: red;
  height: 600px;
}

#service{
  background-color: blue;
}

#teams{
  background-color: #ccc;
}

#started{
  background-color: blue;
}

footer{
  background-color: pink;
}
