/* [class*="col-"]{
  border: 1px solid black;
  height: 100px;
} */
/* HEADER */

/* X NAV FIXED */
body { padding-top: 50px; }

.navbar-nav{
  margin-left: 75px;
}

header .navbar-default .navbar-nav > li > a{
  color:#031c4e
}

header a img{
  height: 30px;
  width: 100px;
  margin: -4px 0;
}

/* PER FAR COLLASSARE HAMBURGER MENU A 991PX */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

#signup{
  padding: 4px 10px;
  border: 1px solid #579aff;
  border-radius: 5px;
  color: #579aff;
  top: 10px;
}

/* JUMBO */

#jumbo{
  background-image: url(img/jumbo.svg);
  background-repeat: no-repeat;
  background-size:cover;
}
#jumbo1{
  margin-top: 50px;
}

#odio{
  font-size: 15px;
  line-height: 1.5;
}
#jumbo h1,
#jumbo p{
  color:white;
}


#jumbo .blocco-bianco{
  background-color: white;
  margin:50px 0;
  padding:10px;
  text-align: center;
  height: auto;
  border-radius: 5px;

}
#g-piccolo{
  height: 15px;
  position:absolute;
  left:35px;
  bottom: 5px;
  bottom: 93px;
}

#jumbo h3:last-of-type{
  color:#006aff;
}

#bottone-stronzo{
  background-color: #579aff;
  color: white;
}
.bottoni-form .btn-default{
  width: 100%;
  margin-bottom: 5px;
}

/* BUSINESS */
#business{
  background-color: #f3f5f9;
  text-align: center;
}
#business h6{
  color: #6f7b97;
  text-align: center;
  margin-top: 40px;
}
#business img{
  height: 100px;
  width: auto;
  max-width: 100%;
}
#business a{
  color: #579aff;

}

#business #stories{
  padding-bottom: 20px;
}

/* DEPLOY */
#deploy{
  /* background-color: red; */
  height: 600px;
}

.esperimento{
  margin-top: 30px;
}
#riga1{
  margin-bottom: 40px;
}
#deploy h2{
  text-align: center;
  margin-top: 40px;
}
#deploy #pgh{
  text-align: center;
  margin-top: 15px;
  margin-bottom:60px;
}
#blocco_dx{
  margin-top: 30px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 0;

}
#blocco_dx ul{
  list-style-type:none;
  padding-left: 5px;
}
#blocco_dx li{
  padding-bottom: 15px;

}
#blocco_dx a{
  color:#ccc;
}
#blocco_dx h5{
  color: #031c4e;
  margin-top: 15px;
}
#dio{
  margin-left: 5px;
}
#service{
  background-color: blue;
}

#teams{
  background-color: #ccc;
}

#started{
  background-color: blue;
}

footer{
  background-color: pink;
}

/* BUSINESS */
